*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
    font-size: 16px;	
	font-family: 'Roboto', sans-serif;	
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;

}
.affix {
	top:0;
	width: 100%;
	z-index: 9999 !important;
}
.navbar {
	margin-bottom: 0px;
}
.affix ~ .container-fluid {
	position: relative;
	top: 50px;
}
.scrolltop {
	display:none;
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
	right:10px;	
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:#d6b161;
	padding: 9px 15px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.2s; 	
	border-radius:30px;
	color:#fff;
}
/* header section */
.header_bg{
	background-image:url('../images/portfolio-light-img/headder_img.png');	
    width: 100%;
    min-height: 890px;
    background-size: cover; 	
	position: relative;
	padding-top:1%;	
	z-index: 10000;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}
#bs-example-navbar-collapse-1 ul li a{
	color:#ddd;
}

.transparent_nav{
	background:transparent ;
	border:none;
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #fff;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
}
.navbar-brand > img {
    display: block;
    padding-top: 15px;
}
.navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: unset;
}
.navbar-nav > li > a.under_line {
	position: relative;
}
.under_line:after {
	content: "";
	position: absolute;
	left: 0;
	right:0;
	bottom: 0px;
	background: #d6b161;
	height: 4px;
	transition-property: left right;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	width:0;
}
.under_line:before {
	content: "";
	position: absolute;
	left: 0;
	right:0;
	bottom: 0px;
	background: #494949;
	height: 4px;
	transition-property: left right;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	width:0;
}
.under_line:hover:after,
.under_line:focus:after,
.under_line:active:after {
	left:50%;
	width:50%;
}
.under_line:hover:before,
.under_line:focus:before,
.under_line:active:before{
	width:100%;
	
}
.download_btn{
	padding: 29px 30px;	
	background: transparent !important;
	color:#fff;				
}
.download_btn:hover{
	color:#fff;	
}

.nav_bg{
	transition:0.5s;	
}
.is-sticky > .nav_bg{
	background-color:#222222;
	z-index:10000;
}
.heading_text{
	display: block;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 50%;
	z-index: -1;
}
.heading_text h2{
	font-size:36px;
	color:#d6b161;
}
.heading_text h1{
	font-size:85px;
	color: #eee;
	font-weight: initial;
	letter-spacing: 25px;
}
.heading_text h3{
	font-size:28px;
	color:#eee;
}
.wlater_color{
	color:#d6b161;
}
.hire_btn{
	position: absolute;
	margin: 0 auto;
	left: 50%;
	transform: translate(-50%,0);
	display: block;
	bottom: 235px;
	z-index: -1;
}

.hireme_btn {
	/*border-radius: 30px;*/
	color:#fff;
	font-weight: 100;
	overflow: hidden; 	
	position: relative;
	padding:15px 50px;
	-webkit-transition: 0.5s -webkit-transform ease-in-out;
	transition: 0.5s -webkit-transform ease-in-out;
	transition: 0.5s transform ease-in-out;
	transition: 0.5s transform ease-in-out, 0.5s -webkit-transform ease-in-out;
	will-change: transform;
	z-index: 0;
	background:#37373b;
}
.hireme_btn::after {
	background-color: #d6b161;
	/*border-radius: 30px;*/
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform: translate(-100%, 0) rotate(10deg);
	transform: translate(-100%, 0) rotate(10deg);
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-transition: 0.5s -webkit-transform ease-out;
	transition: 0.5s -webkit-transform ease-out;
	transition: 0.5s transform ease-out;
	transition: 0.5s transform ease-out, 0.5s -webkit-transform ease-out;
	will-change: transform;
	z-index: -1;
}
.hireme_btn:hover::after {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
.hireme_btn:hover {
	color: #fff;	
}
/* About Section */
#about_section{
	padding-top: 70px;
	min-height: 840px;
	background: #fff;
}
.about_me{
	color:#0e0e0e;
	text-align: center;
}
.about_img_align{
	width: 500px;
}
.about_ul{
	padding-top: 80px;
}
.about_ul ul{
	list-style:none;
}
.about_ul ul li{
	float:left;
	width: 50%;
	height: 452px;
}
.for_skilbar{
	padding-top: 60px;
}
.for_skilbar p {
	font-size:14px;
}
.progress-bar-style{
	height: 5px;
	overflow: hidden;
	background-color: #dedede;
}

.portfolio_btn {
	/*border-radius: 30px;*/
	color: #fff;
	font-weight: 100;
	overflow: hidden; 	
	position: relative;
	padding:15px 40px;
	-webkit-transition: 0.5s -webkit-transform ease-in-out;
	transition: 0.5s -webkit-transform ease-in-out;
	transition: 0.5s transform ease-in-out;
	transition: 0.5s transform ease-in-out, 0.5s -webkit-transform ease-in-out;
	will-change: transform;
	z-index: 0;
	background:#000;
}
.portfolio_btn::after {
	background-color: #d6b161;
	/*border-radius: 30px;*/
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform: translate(-100%, 0) rotate(10deg);
	transform: translate(-100%, 0) rotate(10deg);
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-transition: 0.5s -webkit-transform ease-out;
	transition: 0.5s -webkit-transform ease-out;
	transition: 0.5s transform ease-out;
	transition: 0.5s transform ease-out, 0.5s -webkit-transform ease-out;
	will-change: transform;
	z-index: -1;
}
.portfolio_btn:hover::after {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
.portfolio_btn:hover {
	color: #000;	
}
/*for barfiller */
.barfiller {
	width: 100%;
	height: 5px;
	background: #fff;
	border-radius:5px;
	position: relative;
	margin-bottom: 40px;
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
}
.barfiller .fill {
	display: block;
	width: 0px;
	height: 100%;
	background: #000;
	
}
.barfiller .tipWrap { 
	display: none;
}
.barfiller .tip {
	margin-top: -10px;
	padding: 2px 4px;
	font-size: 11px;
	color: #fff;
	left: 0px;
	position: absolute;	
	background: #d6b161;
	border-radius: 10px;
}
.barfiller .tip:after {
	border: solid;	
	border-width: 6px 6px 0 6px;
	content: "";
	display: block;
	position: absolute;
	left: 9px;
	top: 100%;
	z-index: 9
}


/* What I Offer Section */
#offer_section{
	background:#f5f5f5;
	min-height:595px;
	padding-top:70px;
}
.offer_text{
	text-align:center;
	color:#0e0e0e;
}
#owl-demo .item{
  margin: 10px;
}
#owl-demo .item img{
  display: block; 
  height: auto;
}
#owl-demo a{
	text-decoration:none;
	color:#0e0e0e;
}
#owl-demo a:hover .offer_box{	
	box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);	
}
.offer_owl{
	padding-top:80px;
}
.offer_box{
	text-align:center;
	width: 265px;
    height: 230px;
	background:#fff;
	transition:.5s;
}
.offer_box p{
	font-size:14px;
	color:#929292;
	margin:10px;
}

/* portfolio section */
#portfolio_section{
	background:#fff;
	padding-bottom: 100px;
	padding-top:100px;
	position:relative;
}
.portfolio{
	margin-bottom: 30px;
	position:relative;
}
.grid{
	margin-top: 110px;
}
.button_bg{
	background: transparent !important;
	border: none;
	padding: 10px;
}
.portfolio_text{
	text-align:center;
	color:#0e0e0e;
}
.portfolio_ul{	
	padding-top: 110px;
}
.portfolio_filter{
	position: absolute;
	width: 360px;
	height: 360px;		
	z-index: 1;
	background: #353535;
	text-align: center;
	display: block;
	opacity: 0;
	color: #fff;
	transition: .5s;
	cursor:pointer;
}
.porfolio_fa_icon{
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	top: 50%;
}
.porfolio_fa_icon a{
	color:#fff;
}
.fa_icon_style{
	font-size: 15px;
	background: #7d7d7d;
	border-radius: 90%;
	padding: 9px 10px;
}
.portfolio_text_p{
	color: #fff;
	padding-top: 20%;
}

.portfolio:hover .portfolio_filter{
	opacity:.8;
}
.test:hover{
	color: #fff;
	background: #d6b161;
}
.portfolio_align{
	text-align: center;
	position: relative;
	display: block;
	margin: 0 auto;
}
/*Testimonial Section */
#section_testimonial{
	min-height:620px;
	background:#f5f5f5;
	padding-top:70px;
}
.testimonial_text{
	text-align:center;
	color:#0e0e0e;
}
.testimonial_owl{
	padding-top:85px;
	padding-bottom:20px;
}
.testimonial_item a{
	width:100px;
	display:block;
	margin:0 auto;
}
.testimonial_img_circle{
	border-radius: 50%;	
	border: 5px solid #cccccc;
}
.testimonial_h4{
	text-align: center;
	font-size: 15px;
	color: #7d7d7d;
	line-height:22px;
}
.testimonial_p{
	text-align: center;
	margin-top: 4%;
}
/*MY Blog Section*/
#myblog_section{
	padding-top:70px;
	position:relative;
	min-height:950px;
	color:#fff;
}
.myblog_text{
	text-align:center;
	color:#000;
	padding-bottom: 80px;
}

.blog_cont_1{
	color:#000;
	overflow:hidden;
}
.blog_cont_1 a{
	display: block;
	overflow:hidden;
}
.blog_cont_1 a img{
	-webkit-transition: all .5s;
	transition: all .5s;
}
.blog_cont_1 a img:hover{
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);	
}
.blog_body{
	border-bottom: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	overflow: hidden;	
}
.blog_1st_ul{
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden;
}
.blog_1st_ul ul{
	list-style:none;
	margin: 5px;
}
.blog_1st_ul ul li{
	float: left;
	margin: 10px;
}
.blog_1st_ul ul li a{
	color:#808080;
}
.blog_body_text{
	padding:15px 20px;
}
.blog_body_text h4{
	color:#0e0e0e;
	line-height: 27px;
	width: 100%;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.blog_body_text p{
	color: #808080;
	padding-top: 10px;
	line-height: 25px;
}
.blog_body_text a{
	overflow: hidden;
    text-decoration: none;
	color: #d6b161;
	display: initial;
}
.blog_body_footer{
	padding-top:50px;
}
.blog_body_footer ul{
	list-style:none;	
}
.blog_body_footer ul li{
	float:left;
	margin:10px;
}
.blog_body_footer ul li a{
	color:#808080;
}
/*HIRE ME SECTION */
#hire_me_section{
	background-image:url('../images/portfolio-light-img/hireme_background.png');
	background-size:cover;
	position:relative;
	width:100%;
	padding-top:70px;
	min-height:430px;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}
.hire_me_text {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%,0);
    display: block;
    bottom: 100px;
    text-align: center;
    color: #eee;
    width: 100%;
}
.hire_me_text h1{
	font-size:30px;
	line-height:45px;
}

.hireme_btn_2 {
	/*border-radius: 30px;*/
	color: #fff;
	font-weight: 100;
	overflow: hidden; 
	margin-top:60px;
	position: relative;
	padding:15px 50px;
	-webkit-transition: 0.5s -webkit-transform ease-in-out;
	transition: 0.5s -webkit-transform ease-in-out;
	transition: 0.5s transform ease-in-out;
	transition: 0.5s transform ease-in-out, 0.5s -webkit-transform ease-in-out;
	will-change: transform;
	z-index: 0;
	background:#000;
}
.hireme_btn_2::after {
	background-color: #d6b161;
	/*border-radius: 30px;*/
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform: translate(-100%, 0) rotate(10deg);
	transform: translate(-100%, 0) rotate(10deg);
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-transition: 0.5s -webkit-transform ease-out;
	transition: 0.5s -webkit-transform ease-out;
	transition: 0.5s transform ease-out;
	transition: 0.5s transform ease-out, 0.5s -webkit-transform ease-out;
	will-change: transform;
	z-index: -1;
}
.hireme_btn_2:hover::after {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
.hireme_btn_2:hover {
	color: #000;	
}
/* Get In Touch SECTION */
#getin_touch_section{
	background:#f5f5f5;
	min-height:805px;
	padding-top:70px;
	position:relative;
}
.getin_touch_text{
	text-align:center;
	color:#000;
}
.getin_touch_text h1{
	font-size:46px;
}
.getin_touch_bg{
	background:#fff;
	height:600px;
	margin-top: 45px;
}
.getin_fa_icon_bg{
	background: #dbdbdb none repeat scroll 0 0;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	position: relative;
	transform: translate(-50%,0);
	left: 50%;
	cursor: pointer;
}
.getin_fa_icon_bg a{
	text-decoration:none;
}
.fa_icon_size{
	font-size: 20px;
	color: #fff;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	top: 30%;
}
.fa_text_p {
	margin: 20px;
    text-align: center;
}
.getin_touch_form ul{
	list-style: none;
}
.getin_touch_form ul li{
	float: left;
	width: 33%;
	padding-top: 80px;
}
.getin_touch_form ul li a{
	text-decoration:none;
}
.input_form1{
	margin-bottom: 30px;
	height: 45px;
	border-radius: 10px;	
}
.input_form2{
	height: 45px;
	border-radius: 10px;	
}
.frm_grp_1{
	margin-top:60px;
}
.getin_send_btn{
	position: absolute;
	left: 50%;
	margin: 0 auto;
	display: block;
	transform: translate(-50%,0);
	bottom: 100px;
}
.send_btn {
	/*border-radius: 30px;*/
	color: #fff;
	font-weight: 100;
	overflow: hidden; 
	position: relative;
	padding:15px 25px;
	-webkit-transition: 0.5s -webkit-transform ease-in-out;
	transition: 0.5s -webkit-transform ease-in-out;
	transition: 0.5s transform ease-in-out;
	transition: 0.5s transform ease-in-out, 0.5s -webkit-transform ease-in-out;
	will-change: transform;
	z-index: 0;
	background:#000;
}
.send_btn::after {
	background-color: #d6b161;
	/*border-radius: 30px;*/
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform: translate(-100%, 0) rotate(10deg);
	transform: translate(-100%, 0) rotate(10deg);
	-webkit-transform-origin: top left;
	transform-origin: top left;
	-webkit-transition: 0.5s -webkit-transform ease-out;
	transition: 0.5s -webkit-transform ease-out;
	transition: 0.5s transform ease-out;
	transition: 0.5s transform ease-out, 0.5s -webkit-transform ease-out;
	will-change: transform;
	z-index: -1;
}
.send_btn:hover::after {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
.send_btn:hover {
	color: #000;	
}
/* footer section */
#footer_section{
	background:#eeebeb;
	min-height:250px;
	padding-top:80px;
	position: relative;
}
.footer_icon{
	position: absolute;
	transform: translate(-50%,0);
	left: 50%;
}
.footer_icon ul{
	list-style:none;
}
.footer_icon ul li{
	float:left;
	margin-right: 10px;
}

.footer_icon_bg{
	background: transparent ;	
	border:1px solid #000;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	position: relative;
	transform: translate(-50%,0);
	left: 50%;
}
.footer_icon_bg a{
	font-size: 18px;
	color: #1e1e1e;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	top: 50%;
}
.footer_icon_bg:hover a{
	color:#fff;
	transition: 0.5s
}
.footer_text_p{
	margin: 75px auto;
	text-align: center;
	font-size: 15px;
	color: #808080;
}
	
.facebook:hover{
	background: #4267b2;
	transition: 0.5s;
	border: 1px solid #4267b2;
	cursor: pointer;
}
.twitter:hover{
	background: #2caae1;
	transition: 0.5s;
	border: 1px solid #2caae1;
	cursor: pointer;
}
.tumblr:hover{
	background: #36465d;
	transition: 0.5s;
	border: 1px solid #36465d;
	cursor: pointer;
}
.dribbble:hover{
	background: #e84887;
	transition: 0.5s;
	border: 1px solid #e84887;
	cursor: pointer;
}
.sm-pinterest a:hover{
	color: #bd081b;
}
.sm-g-plus a:hover{
	color: #dc4a38;
}
.sm-twitter a:hover{
	color: #1da1f2;
}
.sm-facebook a:hover{
	color: #4867aa;
}



/* For mobile view */
@media only screen and (min-width:280px) and (max-width: 479px)  {
/*Section_One*/
.header_bg {
    background-image: url('../images/portfolio-light-img/headder_img.png');
    width: 100%;
    min-height: 480px;
    background-size: cover;
    position: relative;
    padding-top: 2%;
    z-index: 10000;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}
.navbar-brand > img {
    display: block;
    padding-top: 0px;
}
.heading_text {
    display: block;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    z-index: -1;
    width: 100%;
}
.heading_text h2 {
    font-size: 24px;
    color: #d6b161;
}
.heading_text h1 {
    font-size: 30px;
    color: #eee;
    font-weight: initial;
}
.heading_text h3 {
    font-size: 15px;
    color: #eee;
}
.hire_btn {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%,0);
    display: block;
    bottom: 50px;
    z-index: -1;
}
/*about Section*/
#about_section {
    padding-top: 35px;
    min-height: 840px;
    background: #fff;
	padding-bottom: 35px;
}
.about_ul {
    padding-top: 40px;
}
.about_ul ul li {
    float: left;
    width: 100%;
    height: auto;
}
.about_img_align {
    width: 100%;
}
.li_top_padding{
	padding-top:50px;
}
/* what i offer section */
#offer_section {
    background: #f5f5f5;
	min-height: auto;
	padding-top: 35px;
	padding-bottom: 35px;;
}
.offer_text h1{
	font-size:30px;
}
.offer_owl {
    padding-top: 40px;
}
.offer_box {
    text-align: center;
    width: 100%;
    height: 240px;
    background: #fff;
    transition: .5s;
}
#owl-demo a:hover .offer_box {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
/*portfolio section */
#portfolio_section {
    background: #fff;
    padding-bottom: 100px;
    padding-top: 35px;
    position: relative;
}
.grid {
    margin-top: 150px;
}
.portfolio_filter{
	position: absolute;
	width: 100%;
	height: 100%;		
	z-index: 1;
	background: #353535;
	text-align: center;
	display: block;
	opacity: 0;
	color: #fff;
	transition: .5s;
}
.portfolio_text h1{
	font-size:30px;
}
.portfolio_ul {
    padding-top: 120px;
}
.portfolio_img img{
	width:100%
}
/*Testimonial Section*/
#section_testimonial {
    min-height: auto;
    background: #f5f5f5;
    padding-top: 35px;
    position: relative;
}
.testimonial_text h1{
	font-size:30px;
}
..testimonial_h4 {
    text-align: center;
    font-size: 15px;
    color: #7d7d7d;
    line-height: 18px;
}
.testimonial_owl {
    padding-top: 45px;
    padding-bottom: 30px;
}
/* MyBlog Section */
#myblog_section {
    padding-top: 35px;
    position: relative;
    min-height: auto;
    color: #fff;
	padding-bottom: 35px;
}
.myblog_text {
    text-align: center;
    color: #000;
    padding-bottom: 40px;
}
.myblog_text h1{
	font-size:30px;	
}
.cont_1{
	padding:10px;
}
.blog_cont_1 img{
	width:100%;
}
/* HIRE ME Section*/
.hire_me_text h1 {
    font-size: 15px;
    line-height: 20px;
}
/* get in touch section*/
#getin_touch_section {
    background: #f5f5f5;
    min-height: auto;
    padding-top: 35px;
    position: relative;
	
}
.getin_touch_text h1 {
    font-size: 30px;
}
.getin_touch_bg {
    background: #fff;
    height: auto;
    margin-top: 45px;
	padding-bottom: 80px;
}
.getin_touch_form ul li {
    float: left;
    width: 100%;
    padding-top: 50px;
}
.getin_send_btn {
    position: absolute;
    left: 50%;
    margin: 0 auto;
    display: block;
    transform: translate(-50%,0);
    bottom: 20px;
}
/* footer section */
#footer_section {
    background: #eeebeb;
    min-height: auto;
    padding-top: 0px;
    position: relative;
}
.footer_icon ul li {
    float: left;
    margin-right: 0px;
}
.footer_text_p {
    text-align: center;
    font-size: 15px;
    color: #808080;
    padding-top: 99px;
}
}
/* for tab view */
@media only screen and (min-width:480px) and (max-width: 767px)  {
.header_bg {
    background-image: url('../images/portfolio-light-img/headder_img.png');
    width: 100%;
    min-height: 600px;
    background-size: cover;
    position: relative;
    padding-top: 2%;
    z-index: 10000;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	
}
.navbar-brand > img {
    display: block;
    padding-top: 0px;
}
.heading_text {
    display: block;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    z-index: -1;
    width: 100%;
}
.heading_text h2 {
    font-size: 36px;
    color: #d6b161;
}
.heading_text h1 {
    font-size: 44px;
    color: #eee;
    font-weight: initial;
}
.heading_text h3 {
    font-size: 18px;
    color: #eee;
}
.hire_btn {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%,0);
    display: block;
    bottom: 50px;
    z-index: -1;
}

/*about Section*/
#about_section {
    padding-top: 35px;
    min-height: 840px;
    background: #fff;
	padding-bottom: 35px;
}
.about_ul {
    padding-top: 40px;
}
.about_ul ul li {
    float: left;
    width: 100%;
    height: auto;
}
.about_img_align {
    width: 100%;
}
.li_top_padding{
	padding-top:50px;
}	

/* what i offer section */
#offer_section {
    background: #f5f5f5;
	min-height: auto;
	padding-top: 35px;
	padding-bottom: 35px;;
}
.offer_text h1{
	font-size:30px;
}
.offer_owl {
    padding-top: 40px;
}
.offer_box {
    text-align: center;
    width: 100%;
    height: 240px;
    background: #fff;
    transition: .5s;
}
#owl-demo a:hover .offer_box {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
/*portfolio section */
#portfolio_section {
    background: #fff;
    padding-bottom: 100px;
    padding-top: 35px;
    position: relative;
}
.portfolio_filter{
	position: absolute;
	width: 100%;
	height: 100%;		
	z-index: 1;
	background: #353535;
	text-align: center;
	display: block;
	opacity: 0;
	color: #fff;
	transition: .5s;
}
.portfolio_text h1{
	font-size:30px;
}
.portfolio_ul {
    padding-top: 120px;
}
.portfolio_img img{
	width:100%
}

/*Testimonial Section*/
#section_testimonial {
    min-height: auto;
    background: #f5f5f5;
    padding-top: 35px;
    position: relative;
}
.testimonial_text h1{
	font-size:30px;
}
.testimonial_h4 {
    text-align: center;
    font-size: 15px;
    color: #7d7d7d;
    line-height: 18px;
}
.testimonial_owl {
    padding-top: 45px;
    padding-bottom: 30px;
}
/* MyBlog Section */
#myblog_section {
    padding-top: 35px;
    position: relative;
    min-height: auto;
    color: #fff;
	padding-bottom: 35px;
}
.myblog_text {
    text-align: center;
    color: #000;
    padding-bottom: 40px;
}
.myblog_text h1{
	font-size:30px;	
}
.cont_1{
	padding:10px;
}
.blog_cont_1 img{
	width:100%;
}
/* HIRE ME Section*/
.hire_me_text h1 {
    font-size: 20px;
    line-height: 20px;
}
.hire_me_text p{
	font-size:18px;
}
/* get in touch section*/
#getin_touch_section {
    background: #f5f5f5;
    min-height: auto;
    padding-top: 35px;
    position: relative;
	
}
.getin_touch_text h1 {
    font-size: 30px;
}
.getin_touch_bg {
    background: #fff;
    height: auto;
    margin-top: 45px;
	padding-bottom: 80px;
}
.getin_touch_form ul li {
    float: left;
    width: 100%;
    padding-top: 50px;
}
.getin_send_btn {
    position: absolute;
    left: 50%;
    margin: 0 auto;
    display: block;
    transform: translate(-50%,0);
    bottom: 20px;;
}
/* footer section */
#footer_section {
    background: #eeebeb;
    min-height: auto;
    padding-top: 0px;
    position: relative;
}
.footer_icon ul li {
    float: left;
    margin-right: 0px;
}
.footer_text_p {
    text-align: center;
    font-size: 15px;
    color: #808080;
    padding-top: 99px;
}
}
/* desktop view small */
@media only screen and (min-width:768px) and (max-width: 1199px)  {
.heading_text {
    display: block;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    z-index: -1;
    width: 100%;
}
/*about Section*/
#about_section {
    padding-top: 35px;
    min-height: 840px;
    background: #fff;
	padding-bottom: 35px;
}
.about_ul {
    padding-top: 40px;
}
.about_ul ul li {
    float: left;
    width: 100%;
    height: auto;
}
.about_img_align {
    width: 100%;
}
.about_img_align img{
    width: 100%;
}
.li_top_padding{
	padding-top:50px;
}	
/*Blog Section*/
.blog_cont_1 {
    color: #000;
    overflow: hidden;
    padding-bottom: 25px;
}
.blog_cont_1 img {
    width: 100%;
}
/*What I offer Section*/
.offer_box {
    text-align: center;
    width: 100%;
    height: 230px;
    background: #fff;
    transition: .5s;
}
/*portfolio Section*/
.portfolio_filter{
	position: absolute;
	width: 100%;
	height: 100%;		
	z-index: 1;
	background: #353535;
	text-align: center;
	display: block;
	opacity: 0;
	color: #fff;
	transition: .5s;
}
/*getin_touch_ Section*/
.getin_send_btn {
    position: absolute;
    left: 50%;
    margin: 0 auto;
    display: block;
    transform: translate(-50%,0);
    bottom: 20px;
}


/*Footer Section*/
#footer_section {
    background: #eeebeb;
    min-height: 250px;
    padding-top: 80px;
    position: relative;
}
.footer_text_p {
    text-align: center;
    font-size: 15px;
    color: #808080;
    padding-top: 99px;
}
}
/* desktop view small */
@media only screen and (min-width:1200px){
	.heading_text {
    display: block;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    z-index: -1;
    width: 100%;
}
}
